* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    margin: 20px auto;      
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 700px;       
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.message {
    text-align: center;
    color: #555;
    font-size: 1.2rem;
    margin-top: 20px;
}

.message a {
    display: inline-block;
    margin-top: 10px;
    width: 200px;
    padding: 10px 20px;
    height: auto;
    text-decoration: none;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    border-radius: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.message a:hover {
    background-color: #0045b3;
    transform: translateY(-2px);
}

.message a:active {
    transform: translateY(0);
}


